

@font-face {
  font-family: "Aestetico";
  font-style: italic;
  font-weight: normal;
  src: url('https://cdn.rob.mx/fonts/AesteticoLightItalic.woff2');
  font-display: swap;
}
@font-face {
  font-family: "Aestetico";
  font-weight: bold;
  font-style: italic, oblique;
  src: url('https://cdn.rob.mx/fonts/AesteticoBoldItalic.woff2?a=1');
  font-display: swap;
}
@font-face {
  font-family: "Aestetico";
  font-weight: bold;
  font-style: normal;
  src: url('https://cdn.rob.mx/fonts/AesteticoBold.woff2?a=1');
  font-display: swap;
}
@font-face {
  font-family: "Aestetico";
  font-style: normal;
  font-weight: normal;
  src: url('https://cdn.rob.mx/fonts/AesteticoLight.woff2?a=1');
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Aestetico", sans-serif;
  font-size: 16px;
  color: #2B3C2D;
  background-color: #dff4d4
}

header {
  color: #c0e394;
  background: #2B3C2D;
  margin: 0;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  display: flex;
  position: sticky;
  top: 0;
  height: 53px;
  z-index: 100;
  overflow: hidden;
}

header h1 {
  font-size: 32px;
  margin: 0;
  line-height: 53px;
  width: 220px;
  text-align: right;
  margin-right: 20px;
  margin-left: -20px;
  height: 53px;
}

header .emoji-maiz::before {
  content: "🌽";
  font-size: .8em;
  margin: 0.7em;
  mix-blend-mode: luminosity;
}

header h1 a {
  color: #CEFCD3;
  text-decoration: none;
}

header .emoji-maiz:hover::before {
  mix-blend-mode: normal;
}


::selection {
  background-color: #CEFCD3;
}

header ::selection {
  background-color: #5D7260;
}


#command-selector {
  font-size: 32px;
  margin: 0;
  padding-left: 20px;
  background: rgba(255,255,255,.1);
  border: none;
  color: #CEFCD3;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  flex: auto;
  transition: all .3s ease-in-out;
  outline: 2px solid rgba(190, 197, 6, 0.0);
}

#command-selector::placeholder {
  color: #8dad90
}


#command-selector:focus, #command-selector:hover {
  background: rgba(255,255,255,.2);
  outline: 2px solid rgba(190, 197, 6, 0.8);
}

#command-selector:invalid {
  outline: 2px solid rgba(197, 51, 6, 0.8);
  color: rgba(197, 51, 6, 1);
  background: rgba(74, 14, 14, 0.584);
}

#menu-toggle {
  width: 53px;
  background: rgba(255,255,255,.2);
  border: none;
  transition: background-color .2s ease-in;
  display: none;
}

#menu-toggle svg {
  transition: transform .2s ease-in;
  transform: rotate(0deg);
}
#menu-toggle.open svg {
  transform: rotate(90deg);
}

#menu-toggle path {
  stroke:#2B3C2D;
  transition: stroke .2s ease-in;
}

#menu-toggle:hover {
  background: rgba(255,255,255,.3);
}

#menu-toggle:hover path {
  stroke: #CEFCD3
}

#sidebar {
  position: fixed;
  width: 200px;
  padding: 10px;
  top: 53px;
  height: calc(100vh - 73px);
  overflow-y: auto;
  z-index: 10;
  background: #fff;
}

#table-of-contents {
  margin-bottom: 1.5em;
}

#sidebar .heading {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

#sidebar a {
  color: #5D7260;
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#commands {
  overflow-y: hidden;
}

#commands ul {
  font-family: "Fira Code", monospace;
}

#commands .command-menu-selected-prefix {
  color: #2b3c2d;
  font-weight: bold;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#sidebar ul ul {
  margin-left: 10px;
}

#sidebar li {
  list-style: none;
  margin: 0;
  padding: 2px 0;
}

#content {
  padding: 10px;
  max-width: 800px;
  padding-left: 240px;
}

#content h2, #content h3 {
  font-weight: bold
}

#content > h1:first-child {
  margin-top: 0;
}

#content h2 {
  margin-bottom: .2em;
}

#content h3 {
  margin: 0;
  padding-top: 1em
}

#command-name-header {
  font-family: "Fira Code", monospace;
}

.content-header {
  color: #12731D;
  display: inline-block;
}

.content-header code {
  background: rgba(65, 80, 66, 0.06);
  border-radius: 3px;
  padding:0 .3em;
}

.heading-anchor {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  font-size: .7em;
  opacity: .7;
  display: none;
}

.content-header-wrapper {
  scroll-margin: 53px;
}


.content-header-wrapper:hover .heading-anchor{
  display: inline-block;
}

#content a {
  color: #12731D;
}

#content a:hover {
  color: #57b93a;
}

#content pre, #content code {
  font-family: "Fira Code", monospace;
  font-size: .9em;
  line-height: 1.2em;
  font-variant-ligatures: no-contextual;
}

#content > p:first-of-type {
  margin-top: 0;
}

#content p {
  line-height: 1.45em;
}

#content em {
  font-style: italic;
}

#content p code, #content li > code, #content a code {
  background: rgba(65, 80, 66, 0.1);
  border-radius: 3px;
  color: #12731D;
  padding:0 .3em;
}

pre {
  padding: .6em;
  white-space: pre-wrap;
}

code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}


#content li {
  margin: .4em 0;
}

#content img {
  max-width: 100%;
}

#content table {
  table-layout: fixed;
  border-collapse: collapse;
}

#content th, td {
  padding: .2em .5em;
}

#content tr:nth-child(odd) {
  background-color: none;
}

#content tr:nth-child(even) {
  background-color: rgba(65, 80, 66, 0.1);
}

#content th {
  text-align: left;
  color: #12731d;
}

#content blockquote {
  margin: 1em 0;
  padding: .1em .5em;
  box-shadow: 1px 1px 4px rgba(0,0,0,.3);
  border-radius: 3px;
  background: rgba(0,0,0,.1)
}

hr {
  border-bottom: 1px solid #96b452;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.sr-only {
  text-indent: -1000em;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.sr-only:focus {
  text-indent: 0;
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

#skip-to-content {
  background: #CEFCD3;
  color: #12731D;
  padding: 1em;
  z-index: 1000;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #96b452;
    background-color: #2B3C2D;
  }

  html {
    scrollbar-color: #96b452 rgba(0,0,0,.1);
    scrollbar-gutter: both-edges;
  }

  ::selection {
    background-color: #5D7260;
  }
  ::-moz-selection {
    background-color: rgba(0,0,0,.6);
  }

  header ::-moz-selection{
    background-color: #132b17;
  }

  #sidebar {
    background-color: #5D7260;
    color: #CEFCD3;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: ;
    border-radius: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #96b452;
    border-radius: 5px;
    width: 50%;
    transition: background-color .5s ease-in-out;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c0e394;
    border-radius: 5px;
    width: 50%;
  }

  #sidebar .heading {
    color: #132b17;
  }

  #sidebar a {
    color: #CEFCD3
  }

  #content .content-header {
    color: #c0e394;
  }

  #content a {
    color: #c0e394;
  }

  #content p code, #content li > code, #content a code {
    color: #96b452;
    background: #132b17;
  }

  #content tr:nth-child(even) {
    background-color: rgba(65, 80, 66, 0.6);
  }

  #content th {
    text-align: left;
    color: #c0e394;
  }

  .content-header code {
    background: #132b17;
    border-radius: 3px;
    padding:0 .3em;
  }

  #commands .command-menu-selected-prefix {
    color: #fff5a8;
  }

  #content blockquote {
    background: rgba(255,255,255,.1)
  }


}

@media screen and (prefers-color-scheme: dark) and (max-width: 768px) {
  #sidebar {
    background-color: rgba(93, 114, 96, .9) !important;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header h1 {
    width: auto;
    margin-left: 0;
  }

  header h1, #command-selector {
    font-size: 20px;
  }

  #menu-toggle {
    display: block;
  }

  #sidebar {
    display: none;
    width: 100%;
    padding: 1em 0;
    height: calc(100vh - 81px - env(safe-area-inset-bottom));
    opacity: .95;
    background-color: rgba(223, 244, 212, .9);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }


  #sidebar .heading {
    font-size: 2em;
  }

  #sidebar ul {
    font-size: 1em;
  }

  #sidebar nav {
    margin: 0 auto;
    margin-bottom: 1.5em;
    width: 60%;
  }

  #sidebar.open {
    display: block;
  }

  #commands {
    overflow-y: scroll;
    padding-bottom: 4em;
  }

  #command-selector {
    padding-left: .2em;
  }

  #content {
    padding-left: 20px;
  }

  .sidebar-open #content {
    opacity: .5;
    transform: scale(.95);
  }

}

@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }

  .emoji-maiz::before {
    display: none;
  }

  header h1 {
    margin: 0 .2em;
  }

  #commands {
    margin-bottom: 100px;
  }
}

@media print {
  body {
    background-color: #fff;
  }
  #content {
    padding-left: 20px;
  }

  #sidebar, header {
    display: none;
  }

  #command-name-header {
    display: block;
    text-indent: 0;
    position: relative;
    clip: none;
    height: auto;
    width: auto;
  }

  .content-header {
    color: black;
  }

  #content p code, #content li > code, #content a code {
    background: none;
    color: black;
    padding:0 .3em;
  }

  #content a {
    color: black;
    text-underline-offset: .3em;
  }

  .highlight pre {
    background-color: transparent !important
  }

  #content a[href^="http"]:after {
		content: ' (' attr(href) ')';
	}

  #content a[href^="/"]:after {
		content: ' (https://milpa.dev' attr(href) ')';
	}

  #content blockquote {
    margin: 1em 0;
    padding: .1em .5em;
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
    border-radius: 3px;
    background: none;
  }

}
