
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display";
  font-size: 16px;
  color: #2B3C2D;
}

header {
  color: #CEFCD3;
  background: #2B3C2D;
  margin: 0;
  font-family: "Fira Code";
  font-weight: bold;
  display: flex;
}

header h1 {
  font-size: 32px;
  margin: 0;
  line-height: 53px;
  width: 220px;
  text-align: right;
  margin-right: 20px;
  margin-left: -20px;
}

header .emoji-maiz::before {
  content: "🌽";
  font-size: .8em;
  margin: 0.7em;
  mix-blend-mode: luminosity;
}

header h1 a {
  color: #CEFCD3;
  text-decoration: none;
}

header .emoji-maiz:hover::before {
  mix-blend-mode: normal;
}

#command-selector {
  font-size: 32px;
  margin: 0;
  padding-left: 20px;
  background: rgba(255,255,255,.1);
  border: rgba(255,255,255,.2);
  color: #CEFCD3;
  font-family: "Fira Code";
  font-weight: bold;
  flex: auto;
}

#wrapper {
  display: flex;
  background: #FAFFFB;
  height: calc(100vh - 53px);
  overflow: hidden;
}

#sidebar {
  background: #fff;
  min-width: 200px;
  padding: 10px;
  max-height: 100%;
  overflow: scroll;
}

#sidebar h2 {
  font-size: 18px;
  font-style: italic;
}

#sidebar a {
  color: #5D7260;
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#commands {
  overflow: scroll;
}

#commands ul {
  font-family: "Fira Code";
}

#sidebar ul {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#sidebar ul ul {
  margin-left: 10px;
}

#sidebar li {
  list-style: none;
  margin: 0;
  padding: 2px 0;
}

#content {
  padding: 20px;
  max-width: 680px;
  flex: auto;
  overflow: scroll;
}

#content > h1:first-child {
  margin-top: 0;
}

#content h1, #content h2, #content h3, #content h4, #content h5 {
  color: #12731D;
}

#content a {
  color: #12731D;
}

#content pre, #content code {
  font-family: "Fira Code";
  font-size: .9em;
  line-height: 1.2em;
}

#content p {
  line-height: 1.4em;
}

#content p code, #content li > code {
  background: rgba(65, 80, 66, 0.1);
  border-radius: 3px;
  color: #12731D;
  padding:0 .3em;
}

.highlight pre {
  background-color: rgba(65, 80, 66, 0.1) !important
}

pre {
  padding: .6em;
  white-space: pre-wrap;
}

hr {
  border-bottom: 1px solid #96b452;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}
